extends layout

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .home-bg#home
    .container
      .pad-ends-lg
        .row
          .col-xs-12.dark-bg
            h1.cursive.big-type.fadeInUp.animated Molly + Eric
            .space-1
            .left-border.fadeInUp.animated.delay
              h3.m-b-xs-0 August 26, 2017
              h4.m-b-xs-0.gilroy-bold St. Michaels, MD
              p 
  .navy-bg.our-story#story
    .container.dark-bg
      .pad-ends
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            img.svg.heart.m-b-xs-1(src='/images/all/heart.svg')
            h1.cursive Our Story
            p We met online (jdate!) and had a very romantic first lunch-date during the work day in the Crystal City mall. That was followed by a long date walking around Union Market, taking Olive hiking, hanging with Jager at home, and Molly's first Caps game. 
            p Not much has changed--we still go to Union Market, plan most dates around if the dog can come, and go to as many Caps games as possible.
  .gray-bg.about-us#about
    .container.navy-text
      .pad-ends-md
        .row.middle-xs
          .col-md-5.col-xs-12.left-text-md.center-text-xs.first-xs.push-right
            h2.museo We love.
            h4 Cooking on our patio, taking Olive for a walk, and eating dumplings at our favorite restaurant on H street.
          .col-md-7.col-xs-12
            img(src='/images/all/dog-sq.png')
    .separator
    
    .container.navy-text
      .pad-ends-md
        .row.middle-xs
          .col-md-7.col-xs-12.first-xs.push-right
            img(src='/images/all/navy-football.png')
          .col-md-5.col-xs-12.left-text-md.center-text-xs
            h2.museo Favorite dinner.
            h4 The French Laundry in Yountville, California.
    .separator
    
    .container.navy-text
      .pad-ends-md
        .row.middle-xs
          .col-md-5.col-xs-12.left-text-md.center-text-xs.push-right
            h2.museo Our honeymoon.
            h4 Jackson Hole, Wyoming.
          .col-md-7.col-xs-12
            img(src='/images/all/baseball-sq.png')
    .separator
    
    .container.navy-text
      .pad-ends-md
        .row.middle-xs
          .col-md-7.col-xs-12.push-right
            img(src='/images/all/fishing-sq.png')
          .col-md-5.col-xs-12.left-text-md.center-text-xs
            h2.museo Best memory.
            h4 Getting engaged at Miacomet Beach in Nantucket.
  .location.red-bg#location
    .container
      .pad-ends-md
        .row
          .col-xs-12.dark-bg
            h2.museo Locations
        .space-1
        .row
          .col-md-6.col-xs-12.center-text-xs
            .map-wrapper
              iframe.map(iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Eastern%20Shore%20Brewing%2C%20South%20Talbot%20Street%2C%20Saint%20Michaels%2C%20MD%2C%20United%20States&key=AIzaSyDE3A8SU1izd8iSYD5SnQRBMfY5Fa5_z8s" allowfullscreen)
            .map-details.m-b-md-0.m-b-xs-1
              img.svg(src='/images/all/celebrate.svg')
              .space-1
              h3.gilroy-bold.m-b-xs-0 Welcome party.
              .space-1
              .separator
              .space-1
              h4.small.m-b-xs-0
                b.museo TBD · August 25th, 2017 
              p.m-b-xs-0 Eastern Shore Brewing
              p.small 605 S Talbot St, St Michaels, MD 21663              
              a(href='http://www.easternshorebrewing.com' target="_blank") easternshorebrewing.com
              
          .col-md-6.col-xs-12.center-text-xs
            .map-wrapper
              iframe.map(iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Chesapeake%20Bay%20Maritime%20Museum%2C%20Saint%20Michaels%2C%20MD%2C%20United%20States&key=AIzaSyDE3A8SU1izd8iSYD5SnQRBMfY5Fa5_z8s" allowfullscreen)
            .map-details
              img.svg(src='/images/all/rings.svg')
              .space-1
              h3.gilroy-bold.m-b-xs-0 Ceremony & reception.
              .space-1
              .separator
              .space-1
              h4.small.m-b-xs-0
                b.museo 4:30 PM · August 26th, 2017 
              p.m-b-xs-0 Chesapeake Bay Maritime Museum
              p.small 213 N Talbot St, St Michaels, MD 21663
              a(href='http://cbmm.org/' target="_blank") cbmm.org
  .container.schedule#schedule
    .pad-ends
      .row.center-xs
        .col-xs-12
          h2.museo Schedule
        .col-xs-12
          h4.gilroy-bold.navy-text August 26, 2017
          .space-2
          div
            img.svg.m-x-auto(src='/images/all/bus.svg')
            div.center-text-xs
              h3.m-b-xs-0 TBD
              p.m-b-xs-0 Shuttle bus pickup
              p.small.red-text.m-b-xs-0 St. Michaels Inn
                br
                | +
                br
                | Fairfield Inn & Suites
          .space-2
          .separator
          .space-2
          div
            img.svg.m-x-auto(src='/images/all/heart-nv.svg')
            div.center-text-xs
              h3.m-b-xs-0 4:30 PM
              p.m-b-xs-0 Wedding ceremony
              p.small.red-text.m-b-xs-0 Chesapeake Bay Maritime Museum              
          .space-2
          .separator
          .space-2
          div
            img.svg.m-x-auto(src='/images/all/champagne.svg')
            div.center-text-xs
              h3.m-b-xs-0 5:00 PM
              p.m-b-xs-0 Wedding reception.
              p.small.red-text.m-b-xs-0 Chesapeake Bay Maritime Museum
          .space-2
          .separator
          .space-2
          div
            img.svg.m-x-auto(src='/images/all/beer.svg')
            div.center-text-xs
              h3.m-b-xs-0 10:00 PM
              p.m-b-xs-0 After party!
              p.small.red-text.m-b-xs-0 Carpenter Street Saloon
  .gray-bg.travel#accommodations
    .container
      .pad-ends-md
        .row
          .col-xs-12
            h2.museo Travel and Accommodations
            .space-2
        .row
          .col-xs-12
            h3.museo.navy-text Accommodations
            p.small Because St. Michaels is a tiny town and is a summertime destination, it is really important that you book your hotel as soon as possible.  We have arranged room blocks with a few different hotels to accommodate different price ranges.  There are also a lot of B&Bs that are centrally located in town if you are interested in staying in a B&B in town.  Please contact Molly or Eric if you have any questions about accommodations or if you are looking for additional suggestions.
            p.small
              b.navy-text.gilroy-bold Transportation to and from the wedding will only be provided from the St. Michaels Inn and the Fairfield Inn & Suites.
        //- st michaels in
        .row
          .col-md-6.col-xs-12.m-b-md-0.m-b-xs-1
            .hotel-wrapper
              h4.gilroy-bold.m-b-xs-0 St. Michaels Inn
              .space-1
              .line
              .space-1
              p.small Their charming, pet friendly hotel is a welcoming retreat for your wedding stay. Complimentary continental breakfast and outdoor swimming pool only a mile from downtown St. Michaels.
              p.small No two-night minimum required. When calling, ask for the 
                b.gilroy-bold Molly & Eric 
                | room block rate to receive their discounted rate.
              p.m-b-xs-0.navy-text.small
                b.gilroy-bold 1228 S Talbot St, St Michaels, MD 21663, USA
              p.navy-text.small
                b.gilroy-bold (410) 745-3333
              a.red-text(href='http://www.stmichaels-inn.com/' target='_blank') www.stmichaels-inn.com
          //- fairfield in
          .col-md-6.col-xs-12
            .hotel-wrapper
              h4.gilroy-bold.m-b-xs-0 Fairfield Inn & Suites, Easton MD
              .space-1
              .line
              .space-1
              p.small Fairfield by Marriott is Easton’s newest and one of the best hotels in the Easton area. Located only 20 minutes from St. Michaels. The hotel features shuttle service to historic Easton and St. Michaels.
              p.small When calling to book your room, ask for the group rate under the 
                b.gilroy-bold Etkind-Braese 
                | wedding block for discounted room rates.
              p.m-b-xs-0.navy-text.small
                b.gilroy-bold 8945 Sunflower Dr, Easton, MD 21601
              p.navy-text.small
                b.gilroy-bold (410) 822-0050
              a.red-text(href='http://www.marriott.com/hotels/travel/esnfi-fairfield-inn-and-suites-easton/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2' target='_blank') Fairfield Inn & Suites
        .space-1
        .row
          .col-xs-12
            h4 Additional accommodation options:
          .col-md-4.col-xs-12.m-b-md-0.m-b-xs-1
            .hotel-wrapper
              h4.gilroy-bold Harbour Inn, St. Michaels MD
              p.small Very close to everything in town, can water taxi to venue.
              p.navy-text.gilroy-bold.small (410) 745-9001
              a.red-text(href='http://harbourinn.com/' target='_blank') www.harbourinn.com
          .col-md-4.col-xs-12.m-b-md-0.m-b-xs-1
            .hotel-wrapper
              h4.gilroy-bold 5 Gables Inn & Spa, St. Michaels MD
              p.small Walking distance to everything in town.
              p.navy-text.gilroy-bold.small (410) 745-0100
              a.red-text(href='http://www.fivegables.com/' target='_blank') www.fivegables.com
          .col-md-4.col-xs-12
            .hotel-wrapper
              h4.gilroy-bold Inn at Perry Cabin, St. Michaels MD
              p.small Luxury resort, where they filmed Wedding Crashers.
              p.navy-text.gilroy-bold.small (410) 745-2200
              a.red-text(href='http://www.belmond.com/inn-at-perry-cabin-st-michaels/' target='_blank') www.belmond.com
        
        .space-3
        .red-line
        .space-3   
           
        //- airport
        .row
          .col-xs-12
            h3.museo.navy-text Airports
        .row
          .col-xs-12
            .hotel-wrapper
              h4.m-b-xs-0.gilroy-bold Airports -  BWI or DCA
              .space-1
              p.small.m-b-xs-0 We recommend flying into either 
                b.gilroy-bold BWI (Baltimore) 
                | or 
                b.gilroy-bold DCA (Ronald Reagan Airport, DC)
                | . Both airports are about an hour and a half from St. Michaels.  
        
        .space-3
        .red-line
        .space-3
        
        .row
          .col-xs-12
            h3.museo.navy-text Activities in St. Michaels
        .row
          .col-xs-12
            .hotel-wrapper
              h4.m-b-xs-0.gilroy-bold Eat
              .space-1
              p.small Don’t forget St. Michaels is known for crabs when you dine at any of these fine restaurants:
              .row
                .col-md-4.col-xs-12
                  ul
                    li.small 208 Talbot
                    li.small Foxy’s
                    li.small Theo’s
                .col-md-4.col-xs-12
                  ul
                    li.small Ava’s
                    li.small Gina’s
                    li.small Awful Arthur’s
                .col-md-4.col-xs-12
                  ul
                    li.small Bistro St. Michaels
                    li.small Inn at Perry Cabin
                    li.small the Crab Claw
        
        .space-2
        .row    
          .col-xs-12
            .hotel-wrapper
              h4.gilroy-bold Drink
              p.small Visit St. Michaels' own distillery, winery and brewery to taste some local beverages all within walking distance!
              .row
                .col-md-4.col-xs-12
                  p.navy-text Lyon Distilling Co.
                  p.small This local distilling company prides itself in being a micro, craft distillery that transforms raw ingredients into their own unique Rum and Whisky. Located just off of Talbot Street, take a stroll down Marengo Street for tastings, sales and tours of the distillery.
                  a.red-text.small(href='http://lyondistilling.com/') www.lyondistilling.com
                .col-md-4.col-xs-12
                  p.navy-text St. Michaels Winery
                  p.small With no reservations required, tastings at the St. Michaels Winery are a must! The winery is located right on Talbot Street where you can taste, buy and enjoy their custom drink recipes.
                  a.red-text.small(href='http://www.st-michaels-winery.com/') www.st-michaels-winery.com
                .col-md-4.col-xs-12
                  p.navy-text Eastern Shore Brewing
                  p.small “Shore” proud beer is their motto at Eastern Shore Brewing. Their selections are constantly rotating along with year round beers and seasonal choices that we highly recommend.  The beer is brewed on site, and Eastern Shore Brewing is the longest continuously operated microbrewery on the Eastern Shore of Maryland.
                  a.red-text.small(href='http://www.easternshorebrewing.com/') www.easternshorebrewing.com
        
        .space-2
        .row
          .col-xs-12
            .hotel-wrapper
              h4.m-b-xs-0.gilroy-bold Shop
              .space-1
              p.small Take a walk down Main Street in town and hit these shops:
              .row
                .col-md-6.col-xs-12
                  ul
                    li.small American Holiday
                    li.small Come By Chance
                    li.small Chesapeake Trading Co
                .col-md-6.col-xs-12
                  ul
                    li.small Chesapeake Outfitters
                    li.small Take Me Home
                    li.small Knotty Living and more!
        .space-2
        .row
          .col-xs-12
            .hotel-wrapper
              h4.m-b-xs-0.gilroy-bold Explore
              .space-1
              .row
                .col-xs-12
                  p.navy-text Chesapeake Bay Maritime Museum
                  p.small The Chesapeake Bay Maritime Museum in St. Michaels, Maryland brings an authentic Chesapeake experience to each guest through a series of historic structures and boats, a working boatyard, plus year-round exhibitions and programs, all along a beautiful waterfront setting that has its own rich, Chesapeake history. 
                .col-xs-12
                  p.navy-text Patriot Cruises
                  p.small The best way to enjoy the water and learn the history of the bay.  The Patriot is a St. Michaels tradition since 1969. Learn about St. Michaels, view historic homes and wildlife, and watch local watermen harvest clams, oysters and the famous Chesapeake Bay Blue Crab during their respective seasons. Cruises depart from the dock next to the Crab Claw at the entrance of The Chesapeake Bay Maritime Museum.
                .col-xs-12
                  p.navy-text St. Michaels Museum
                  p.small Tourists and residents alike enjoy the museum for the vivid interpretation of St. Michaels' culture and history, including the historic artifacts and the stories of the people preserved as oral histories, and a continuing calendar of dynamic programs and activities.
                .col-xs-12
                  p.navy-text Shore Pedal and Paddle
                  p.small Grab a paddle board, kayak or bicycle from Shore Pedal and Paddle to explore all St. Michaels has to offer! Located at 500 S Talbot Street.
            
  .container#registry
    .container
      .pad-ends-md
        .row
          .col-xs-12          
            h2.museo Registry
            p We are registered at the following locations:
            ul
              li.red-text
                a(href='http://www.crateandbarrel.com/gift-registry/molly-etkind-and-eric-braese/r5635761' target='_blank') Crate & Barrel
              li.red-text
                a(href='https://www.zola.com/registry/mollyanderic2017' target='_blank') Zola
            
